<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
    <h1>欢迎登陆</h1>
    <form action="/post_tologin" method="post">
        <table>
            <tr>
                <th>用户名</th>
                <td>
                    <input type="text" size="20" name="username"/>
                </td>
            </tr>
            <tr>
                <th>密码</th>
                <td>
                    <input type="password" size="20" name="password"/>
                </td>
            </tr>
        </table>
        <p><button type="submit">登陆</button></p>
    </form>
</body>
</html>